body {
  margin: 20px;
}

code {
  background: #d0d0d5;
}

canvas {
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#disconnect {
  display: block; 
}

#score {
  display: block;
}